<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<style>
    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
    }
    .efeito {
        height: 100px;
        width: 100px;
        border: 1px solid black;
    }
    .destaque {
        height: 100px;
        width: 100px;
        background-color: red;
        width: 200px !important;
    }
    .encolher{
        height: 25;
        width: 100px;
        background-color: gray;
        width: 50 !important;
    }
    .true {
        height: 100px;
        width: 100px;
        background-color: greenyellow;
    }
    .false {
        height: 100px;
        width: 100px;
        background-color: red;
    }
    .base {
        height: 25px;
        width: 10px;
        background-color: blue;
    }
    .progresso {
        height: 25px;
        width: 0px;
        background-color: green;
    }
    .quadrado{
        height: 100px;
        width: 100px;
    }
    .perigo{
        background-color: red;
    }
    .barra-progresso{
        height: 30px;
        width: 500px;
        border: 1px solid #000;
    }
    .progresso2 {
        background-color: red;
        height: 100%;
    }
</style>

<div id="desafio">
    <h2>#01</h2>
    <div>
        <button @click="iniciarEfeito">Iniciar Efeito</button>
        <div id="efeito" :class="efeito"></div>
    </div>
    <!-- <div>
        <button @click="iniciarEfeito">Iniciar Efeito</button>
        <div :class="[{destaque: efeito}, {encolher: !efeito}]"></div>
    </div> -->
    <h2>#02</h2>
    <div>
        <div>Estou sem classe CSS:</div>
    </div>
    <h2>#03</h2>
    <div>
        <label for="">Digite uma classe css</label>
        <input type="text" v-on:keyup="usuario = $event.target.value">
        <div :class="usuario"></div>
    </div>

    <h2>#04</h2>
    <div>
        <label>Digite uma classe css</label>
        <input type="text" v-on:keyup="userAceite = $event.target.value">
        <label>Digite 'true' ou 'false'</label>
        <input type="text" v-on:keyup="aceite">
        <div :class="padrao"></div>
    </div>
    <div>
        <input type="text" v-model="classe4">
        <input type="text" @input="setPerigo">
        <div :class="[classe4, {perigo}]"></div>
    </div>

    <h2>#05</h2>
    <div>
        <label>Digite uma cor e uma largura</label>
        <input type="text" v-model="cor">
        <input type="text" v-model="largura2">
        <div class="base" :style="meuEstilo"></div>
    </div>
    <h2>#06</h2>
    <div>
        <label>Progresso</label>
        <button @click="iniciarProgresso">Iniciar Progresso</button>
        <div class="progresso" :style="barra"></div>
    </div>
    <h2>#06 Professor</h2>
    <div>
        <button @click="iniciarProgresso2">Iniciar Progresso</button>
        <div class="barra-progresso">
            <div class="progresso2" :style="{width}"></div>
        </div>
    </div>

</div>

<script>
    new Vue({
        el: '#desafio',
        data:{
            estilo: false,
            // efeito: false,
            efeito: 'destaque',
            usuario: '',
            userAceite: '',
            padrao: 'efeito',
            largura2: 100,
            cor: 'blue',
            barra: '[progresso]',
            perigo: true,
            classe4: '',
            // estilo5: {
            //     width: '100px',
            //     height: '100px'
            // },
            width: '0',
            

        },
        methods: {
            iniciarEfeito(){
                // this.efeito = !this.efeito
                setInterval(() =>{
                    this.efeito = this.efeito == 'destaque' ? 'encolher' : 'destaque'
                }, 1000)
            },
            setPerigo(event){
                console.log(event.target.value)
                if(event.target.value == "true"){
                    this.perigo = true
                }else if(event.target.value == "false"){
                    this.perigo = false
                }
            },
            iniciarProgresso2(){
                let valor = 0
                const temporizador = setInterval(() =>{
                    valor += 5
                    this.width = `${valor}%`
                    if(valor == 100) clearInterval(temporizador)
                }, 500)
            },
            iniciarProgresso(){
                this.barra = {
                    width: 30
                }
                setTimeout(() => {
                    this.barra = {
                        width: 60
                    }
                }, 500)
                setTimeout(() => {
                    this.barra = {
                        width: 90
                    }
                }, 1000)
                setTimeout(() => {
                    this.barra = {
                        width: 120
                    }
                }, 1500)
                setTimeout(() => {
                    this.barra = {
                        width: 150
                    }
                }, 2000)
                setTimeout(() => {
                    this.barra = {
                        width: 180
                    }
                }, 2500)
                setTimeout(() => {
                    this.barra = {
                        width: 210
                    }
                }, 3000)
                setTimeout(() => {
                    this.barra = {
                        width: 240
                    }
                }, 3500)
                setTimeout(() => {
                    this.barra = {
                        width: 270
                    }
                }, 4000)
                setTimeout(() => {
                    this.barra = {
                        width: 300
                    }
                }, 4500)
            },

            aceite(event){
                console.log('chamou')
                if(event.target.value == 'true'){
                    this.efeito = true
                    this.padrao = this.userAceite
                }
                if(event.target.value == 'false'){
                    this.efeito = false
                    this.padrao = 'efeito'
                }
                console.log(this.userAceite)
                return this.padrao
            },
        },
        computed: {
            
            meuEstilo(){
                return {
                    backgroundColor: this.cor,
                    width: this.largura2
                }
            }
        }
   })
</script>